.navlink {
  margin-top: 32px;
  display: flex;
  margin-left: 100px;
  text-align: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 80px;
}

.nav-link:hover {
  opacity: 0.5;
}

.cuenta {
  top: 8.5%;
  left: 85%;
}

.cuenta-link {
  text-decoration: none;
  color: black;
  font-size: x-small;
}

.cuenta-link:hover {
  opacity: 0.5;
}

.nav-ropa {
  text-decoration: none;
  color: black;
  margin-right: 80px;
}

.nav-ropa:hover {
  opacity: 0.5;
}
